html {
  font-size: 62.5%;
}

body {
  font-family: $f-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $c-text;

  @include font-body;
}

::selection {
  background: $c-primary;
  color: white;
}

h1,
.h1 {
  @include font-h1;
}

h2,
.h2 {
  @include font-h2;
}

h3,
.h3 {
  @include font-h3;
}

small,
.text-small {
  @include font-small;
}

.text-large {
  font-size: 2em;
}

strong {
  font-weight: bold;
}

*:focus {
  outline-color: black;
}

a {
  font-family: $f-sans;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: currentColor;
}

.link {
  display: inline-block;
  border-bottom: $border;
  transition: border-color $trans--fast;

  &:hover {
    border-color: transparent;
  }
}

.sans {
  font-family: $f-sans;
}

.serif {
  font-family: $f-serif;
}

button,
select {
  cursor: pointer;
}
