.Author {
  display: flex;
  align-items: center;

  @include spacing(md, margin-bottom);
  &__image {
    width: 100px;

    @include spacing(md, margin-right);
    img {
      border-radius: 9999px;
    }
  }
  &__name {
    flex-grow: 1;
  }
}
