.Menu {
  &__mobile {
    display: block;

    @include bp(xl) {
      display: none;
    }
  }

  &__desktop {
    display: none;

    @include bp(xl) {
      display: block;
    }
  }

  &__item {
    @include spacing(sm, margin-left);
  }

  &__cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    .Menu__item {
      margin-left: 0;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include spacing(sm, padding-top);
    flex-direction: row-reverse;
  }

  // &__close {
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  // }
}
