.Preview {
  padding-top: 65px; // header height
  &__header {
    height: 65px;
    position: fixed;
    z-index: 9999;
    background: white;
    border-bottom: 1px solid #000;
    width: 100%;
    top: 0;
    left: 0;
  }
}
