// Fonts
$f-sans: "SuisseIntl", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

$f-serif: "Suisse Works", times, serif;

// Colors

$c-primary: black;
$c-secondary: tomato;
$c-text: black;
$c-border: black;
$c-error: red;

$breakpoints: (
  xs: 0,
  sm: 550,
  md: 870,
  lg: 1200,
  xl: 1600,
  xxl: 1800
);

$content-width: (
  sm: (
    text: 0,
    image: 0
  ),
  md: (
    text: 968,
    image: 1600
  )
);

// Spacing
$spacing: (
  sm: (
    xxs: 6,
    xs: 12,
    sm: 18,
    md: 24,
    lg: 36,
    section: 72
  ),
  md: (
    xxs: 6,
    xs: 12,
    sm: 18,
    md: 24,
    lg: 36,
    section: 72
  )
);

// Grid gutters
$grid-gutters: (
  xs: 24,
  sm: 24,
  md: 24,
  lg: 24,
  xl: 24,
  xxl: 24
);

// Typography
$typography: (
  sm: (
    h1: 64,
    h2: 42,
    h3: 28,
    body: 20,
    small: 16
  ),
  lg: (
    h1: 64,
    h2: 42,
    h3: 28,
    body: 20,
    small: 16
  ),
  xl: (
    h1: 64,
    h2: 42,
    h3: 28,
    body: 20,
    small: 16
  )
);

// Border
$s-border__width: 1px;
$border: $s-border__width solid $c-border;

$s-border__width--large: 6px;
$border--large: $s-border__width--large solid $c-border;

// Radius
$radius: 1rem;
$radius--large: 1.4rem;

// Trans
$trans: 0.3s ease;
$trans--fast: 0.12s ease;
$trans--slow: 5s ease;
