.Card {
  transition: opacity $trans, transform $trans;
  opacity: 0;
  transform: translateY(50px);

  &--is-visible {
    opacity: 1;
    transform: translateY(0);
  }
  &__media {
    background: #f1f1f1;
  }
  &__title,
  &__excerpt {
    @include spacing(sm, margin-top);
  }
}
