$grid-gutters: (
  xs: 32,
  sm: 32,
  md: 32,
  lg: 64,
  xl: 64,
  xxl: 64
) !default;

// Number of columns in grid
$grid-columns: 12 !default;

.Grid {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;

  // Generate responsive classes

  @each $bp, $gutter in $grid-gutters {
    // Horizontal gutter between elements
    $half-gutter: ($gutter * 0.5);

    // Gutter compensation
    $gutter-compensation: rem-calc($half-gutter * -1);

    @include bp($bp) {
      // Add gutter compensation to elements
      &--padding,
      &--#{$bp}-padding {
        margin-right: $gutter-compensation;
        margin-left: $gutter-compensation;
      }

      // Add gutter to items
      &--padding > &__item,
      &--#{$bp}-padding > &__item {
        padding-right: rem-calc($half-gutter);
        padding-left: rem-calc($half-gutter);
      }

      // Vertical gutter
      &--margin-y > &__item {
        margin-bottom: rem-calc($gutter);
      }

      // Remove gutter compensation on container if collapse
      &--#{$bp}-collapse {
        margin-right: 0;
        margin-left: 0;
      }

      // Remove gutter between elements
      &--#{$bp}-collapse > &__item {
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
      }

      // Reversed element order
      &--#{$bp}-reverse {
        flex-direction: row-reverse;
      }

      // Set item widths based on $grid-columns number

      @for $i from 1 through $grid-columns {
        $item-width: percentage(1 / $i);

        &--#{$bp}-#{$i} > &__item {
          flex-basis: $item-width;
          max-width: $item-width;
        }
      }
    }
  }

  // Generate item specific classes
  &__item {
    box-sizing: border-box;
    flex: 0 0 100%;
    max-width: 100%;

    // Generate widths based on 12 column grid

    @each $bp, $val in $grid-gutters {
      @include bp($bp) {
        @for $i from 1 through $grid-columns {
          &--#{$bp}-#{$i} {
            flex-basis: percentage($i/$grid-columns);
            max-width: percentage($i/$grid-columns);
          }

          &--#{$bp}-offset-#{$i} {
            margin-left: percentage($i/$grid-columns);
          }
        }
      }
    }
  }
}
