@font-face {
  font-family: 'SuisseIntl';
  src: url('../../../web/static/fonts/SuisseIntl-Regular-WebM.woff2')
      format('woff2'),
    url('../../../web/static/fonts/SuisseIntl-Regular-WebM.woff') format('woff'),
    url('../../../web/static/fonts/SuisseIntl-Regular-WebM.ttf')
      format('truetype'),
    url('../../../web/static/fonts/SuisseIntl-Regular-WebM.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Works';
  src: url('../../../web/static/fonts/SuisseWorks-Regular-WebS.woff2')
      format('woff2'),
    url('../../../web/static/fonts/SuisseWorks-Regular-WebS.woff')
      format('woff'),
    url('../../../web/static/fonts/SuisseWorks-Regular-WebS.ttf')
      format('truetype'),
    url('../../../web/static/fonts/SuisseWorks-Regular-WebS.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
